@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br />

<div>
    @(await Html.RenderComponentAsync<components_blazor.Pages.Counter >(RenderMode.WebAssemblyPrerendered, new {step = 2}))
</div>

<div>
    @(await Html.RenderComponentAsync<components_blazor.Pages.FFmpeg >(RenderMode.WebAssemblyPrerendered))
</div>